<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/global.css">
    <link rel="icon" href="/assets/favicon.ico" />
    <title>Rédiger | Paperstand</title>
</head>
<body>
    <header class="header">
        <nav>
            <ol>
                <li><a href="">À la une</a></li>
                <li><a href="redact.html">Rédiger</a></li>
            </ol>
        </nav>
        <a href=""><img src="" alt=""></a>
        <button></button>
    </header>
</body>
</html>