<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/global.css">
    <link rel="icon" href="/assets/favicon.ico" />
    <title>Paperstand</title>
</head>
<body>
    <header class="header">
        <nav>
            <ol>
                <li><a href="">À la une</a></li>
                <li><a href="">Rédiger</a></li>
            </ol>
        </nav>
        <a href=""><img src="" alt=""></a>
        <button>Se connecter</button>
    </header>
    <img src="/assets/title.png" alt="titre Paperstand">
    <p>Stand for your ideas</p>
    <p>Une nouvelle manière de s'informer et de partager</p>
    <p>Publiez vos articles et commentez ceux des autres utilisateurs</p>
    <p>Chacun a son mot à dire !</p>
    <p>Rejoignez l'aventure dès maintenant</p>
    <button><a href="signin.html">S'inscrire</a></button>
</body>
</html>